main {
	background:#b6ce91;
	font-family:'Ubuntu' #0a3871;
	outline-color: #0a3871;
}

.logo {
	width:150px;
	margin-top:20px;
	margin-left:20px;
}


.botoes {
	display:inline-block;
	text-align:center;
	background:#b6ce91;

}

#span {
	font-family:'Ubuntu';
	font-size:15px;
	margin-left:30px;
	color:#0a3871;

}

.novo-jogo {
	
	width:150px;
	background-color:#0a3871;
	color:white;
	border-style:none;
	border-radius:10px;
	padding:10px;
	cursor:pointer;
	font-family:'Ubuntu';
	font-size:14px;
	margin-left:490px;
}


.desistir {
	
	width:150px;
	background-color:#0a3871;
	color:white;
	border-style:none;
	border-radius:10px;
	padding:10px;
	cursor:pointer;
	font-family:'Ubuntu';
	font-size:14px;
	margin-left:30px;
}

.rodape {
	padding:12px;
	height:15px;
	background-color:#b6ce91;
	color:white;
	text-align:center;
}

p {
	font-family:'Ubuntu';
	font-size: 14px;
}